# Assessment Test

### This is the assessment test of our first part of the course.

Here we are going to check your capabilities on managing and using the basic programming concepts we have studied so far:

 * Objects and Data Structure
 * Comparison Operators
 * Statements
 * Method and Functions

## Objects and Data Structures

1. Use the string below:
 * Print the first letter of the string.
 * Print the @
 * Print the sequence "fuerteventura"
 * Split the string on @

In [1]:
my_string = "fuerteventura@2019"

In [8]:
#Print the first letter of the string.
my_string[0]

#Print the @
my_string[my_string.index('@')]

#Print the sequence "fuerteventura"
my_string.split("@")[0]

#Split the string on @
my_string.split("@")

['fuerteventura', '2019']

2. Use the list below:
 * Print the second element of the list
 * Print the last element of the list
 * Print the sequence from the 4th to the 5th element
 * Print the second element of the sublist
 * Append the word "Python"
 * Pop out the sublist

In [27]:
myList = [3, "four", 5.0, 6, 7, 8]

myList[1]
myList[-1]
sublist = myList[4:6]
sublist[1]
sublist.append("Python")
sublist.pop()

'Python'

3. Use the dictionary below:
 * Print all the keys
 * Print all the values
 * Print all the items
 * Print the value of "motorbike"
 * Print the value of "dog"
 * Calculate the differnce between the value of "bike" and the value of "cat"

In [29]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [46]:
myDict.keys()
myDict.values()
myDict.items()
#myDict.get("motorbike")
myDict["motorbike"]
myDict["pets"]["dog"]
myDict["bike"]-myDict["pets"]["cat"]

150

4. Use the tuple below:
 * Print the third element of the tuple
 * Get the index of number 12
 * Count how many times 30 is inside the tuple

In [47]:
t = (80, 30, 30, 12, 80, 40)

In [52]:
t[2]
t.index(12)
t.count(30)

2

5. In this directory there is a file named "Assessment.txt". Use the **with** method and:
 * Open the .txt file and read what's is written inside
 * Open again the "Assessment.txt" file and write inside your name. Hint: use the "append" argumnet
 * Write a new file and call it "Assessment2.txt", write inside somenthing you like.

In [56]:
with open('Assessment.txt', 'r') as f:
    print(f.read())

Welcome to fuerteventura!

## Booleans

In [57]:
# Answer before running cell
2 > 3

False

In [58]:
# Answer before running cell
3 <= 2

False

In [59]:
# Answer before running cell
3 == 2.0

False

In [60]:
# Answer before running cell
3.0 == 3

True

In [61]:
# Answer before running cell
4**0.5 != 2

False

In [62]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Comparison Operators

In [63]:
# answer before you run the code
12<5 and 6<2

False

In [64]:
# answer before you run the code
3 < 8 < 9

True

In [65]:
# answer before you run the code
3<9 and 12<30

True

In [66]:
# answer before you run the code 
8>2 and 4>10

False

In [67]:
# answer before you run the code 
3<4 and 'hello' == 'hellos'

False

## Statements

6. Use the code belowe and print out if the number generated is >1, <1 or -1<number<1

In [73]:
import numpy as np
number = np.random.randn()

# Insert here your if, elif, else statement
if number > 1:
    print("{} is > 1".format(number))
elif number < -1:
    print("{} is < -1".format(number))
else:
    print("{} is between -1 and 1".format(number))

2.8309946431297424 is > 1

## for Loop

7. Use the list below and loop over it with the **for** method:
 * Print only the odds numbers
 * Print only the even numbers
 * Print the sum of all the numbers
 * Print only the unique numbers

In [76]:
lst = [3,5,68,3,4,19,18,5,4]

In [80]:
for x in lst:
    if x%2 != 0:
        print(x)

3
5
3
19
5

In [81]:
cnt = 0
for x in lst:
    cnt += x
print(cnt)

129

In [79]:
set(lst)

{3, 4, 5, 18, 19, 68}

8. Use the dictionary below and print only the values:

In [44]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [82]:
myDict.values()

dict_values([100, 200, 300, {'dog': 100, 'cat': 50, 'rabbit': 200}])

## while Loop

9. Write a simple while loop that prints all numbers from 10 to 20. The loop must stop when the condition == 20. When you print out the results try to use "string formatting".

In [89]:
x = 10
while x <= 20:
    print("{}{}".format(x,' !' if (x==20) else ''))
    x +=1

10
11
12
13
14
15
16
17
18
19
20 !

10. Write a while loop that prints out all odd numbers from 30 to 50. Save all the even numbers into a list, print the list at the end.

In [92]:
odds = []
for x in range(30,51):
    if x%2==0:
        odds.append(x)
odds

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [93]:
odds=[]
x = 30
while x<=50:
    if x%2==0:
        odds.append(x)
    x +=1
odds

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

11. Write a while loop that goes from 15 to 25. Print out every number, if a number is multiple of 12 break the loop, otherwise continue.

In [95]:
for x in range(15,26):
    print(x)
    if x%12==0:
        break

15
16
17
18
19
20
21
22
23
24

## List Comprehension

12. Use the list comprehension method and write a list from the word "Maradona"

In [96]:
[x for x in "Maradona"]

['M', 'a', 'r', 'a', 'd', 'o', 'n', 'a']

## Functions

13. Write a function that computes the volume of a sphere given its radius.
 * radius = 2.5 cm

In [102]:
from math import pi

def radius(r):
    return pi*r**2

radius(4)

50.26548245743669

14. Write a function that takes in input a list and return only the even numbers

In [105]:
def myfunc(aList):
    return [x for x in aList if x%2 == 0]

myfunc([2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

15. Write a function that checks whether a number is in a given range (Inclusive of high and low)
 * E.g: *myfunc(number, lower, higher)*

In [107]:
def myfunc2(num, r_from, r_to):
    return num in range(r_from, r_to+1)

myfunc2(5,45,90)

False

16. Write a fuction that check if a given number is prime.

In [110]:
def check_prime(num):
    # if it's an even number it's definitely not a prime
    if num%2 == 0:
        return False
    # we only need to iterate until the square root of the give number
    sqrt = int(num**0.5)
    # we only need to iterate over odd numbers, hence from 3 in steps of 2
    for x in range(3,sqrt+1,2):
        if num%x == 0:
            return False
    return True

check_prime(9)

False

## Congratulation!

### You have compleated the Assessment Test, now it's time to move on the other session on the course: Numpy,Pandas and Visualization