# Dictionary Exercises

1. Create a dictionary as follow:

    d = {'apple':10, 'kiwi':8, 'orange':12, 'lemon':7, 'sweets':{'bisquits':30, 'chocolate':23}}

In [1]:
d = {'apple':10, 'kiwi':8, 'orange':12, 'lemon':7, 'sweets':{'bisquits':30, 'chocolate':23}}

2. Grab the value of the apple and store it into a variable

In [4]:
first = d['apple']

3. Grab the value of the lemon and store it into another variable

In [5]:
fourth = d['lemon']

4. Calculate the diffrence between the value of the apple and the value of the lemon.

In [7]:
diff = first - fourth
diff

3

5. Grab the value of the sweets

In [8]:
last = d['sweets']

6. Grab the value of the bisquits and store it into a variable

In [10]:
last['bisquits']

30

7. Change the value of the kiwi to 5

In [11]:
d['kiwi'] = 5
d

{'apple': 10,
 'kiwi': 5,
 'orange': 12,
 'lemon': 7,
 'sweets': {'bisquits': 30, 'chocolate': 23}}

8. Change the value of the bisquits to 44

In [12]:
d['sweets']['bisquits'] = 44
d

{'apple': 10,
 'kiwi': 5,
 'orange': 12,
 'lemon': 7,
 'sweets': {'bisquits': 44, 'chocolate': 23}}

9. Change the value of the lemon to 12

In [15]:
fourth = 12
d['lemon'] = 12
d

{'apple': 10,
 'kiwi': 5,
 'orange': 12,
 'lemon': 12,
 'sweets': {'bisquits': 44, 'chocolate': 23}}

10. Print all the dictionary Keys

In [16]:
d.keys()

dict_keys(['apple', 'kiwi', 'orange', 'lemon', 'sweets'])

11. Print all the dictionary Values

In [17]:
d.values()

dict_values([10, 5, 12, 12, {'bisquits': 44, 'chocolate': 23}])

# Great! 

## Let's continue on tuples!