# for Loops

## Exercises

General format for a **for** loop in Python:

    for item in object:
        statements to do stuff

1. Create a list from 1 to 6. Loop over the list and print every value

In [1]:
# list


# loop
for el in range(6):
    print(el)

0
1
2
3
4
5

2. Use the list you have created at point 1, loop over it and print the squared value of every element

In [2]:
for el in range(6):
    print(el**2)

0
1
4
9
16
25

3. Create a list of 4 strings, loop over the list and print the string together with his length.  
 * E.g: *string:length*
 
**Mandatory:** One string length must be = 5

In [6]:
# list of strings
family = ["mom", "daddy", "son", "daughter"]

# loop
for p in family:
    print("{} has {} letters".format(p, len(p)))

mom has 3 letters
daddy has 5 letters
son has 3 letters
daughter has 8 letters

3. Use the list you have created at point 3. Loop over it and print whether the string is >5, <5 or equal to 5.

In [7]:
for p in family:
    if len(p) > 5:
        print("{} has more than 5 letters".format(p))
    elif len(p) < 5:
        print("{} has less than 5 letters".format(p))
    else:
        print("{} has exactly 5 letters".format(p))

mom has less than 5 letters
daddy has exactly 5 letters
son has less than 5 letters
daughter has more than 5 letters

## Iterating by sequence index

4. Use the following list. Loop over it and print every element using the "indexing" method. The output should be:
 * *The animal is: animal name*

In [8]:
animals = ['cat', 'dog',  'cow', 'horse','goat']

# loop
for animal in animals:
    print("The animal is: " + animal)

The animal is: cat
The animal is: dog
The animal is: cow
The animal is: horse
The animal is: goat


### Modulo
The modulo allows us to get the remainder in a division and uses the % symbol.

5. Craete a list in range from 1 to 12, loop over it and print out whether a number is equal or odd.

In [10]:
# list
the_list = range(1,12)

# loop
for el in the_list:
    if el%2 == 0:
        print("the number is even")
    else:
        print("the number is odd")

the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd
the number is even
the number is odd

6. Use the list below, loop over it and print out the sum of every number. Remember, use a counter outside the loop.

In [22]:
# list
w = [10,20,30,40,50]

# counter
count = 0
amt = 0

# loop
for i in w:
    amt += 1
    count += i
    print("added {} element{}, count is {}".format(amt, '' if amt==1 else 's', count))

added 1 element, count is 10
added 2 elements, count is 30
added 3 elements, count is 60
added 4 elements, count is 100
added 5 elements, count is 150

In [24]:
3 if 5>3 else 'no'

3

7. Use the two lists below, loop throug both of them and print out whether the sum of the couple of variable is odd or equal.

In [31]:
# lists
w = [1,2,3,4]
z = [1,2,3,4]

# loops
for i in w:
    for j in z:
        print("{} plus {} results in {} which is an {} number".format(i,j,i+j,'even' if (i+j)%2 == 0 else 'odd'))

1 plus 1 results in 2 which is an even number
1 plus 2 results in 3 which is an odd number
1 plus 3 results in 4 which is an even number
1 plus 4 results in 5 which is an odd number
2 plus 1 results in 3 which is an odd number
2 plus 2 results in 4 which is an even number
2 plus 3 results in 5 which is an odd number
2 plus 4 results in 6 which is an even number
3 plus 1 results in 4 which is an even number
3 plus 2 results in 5 which is an odd number
3 plus 3 results in 6 which is an even number
3 plus 4 results in 7 which is an odd number
4 plus 1 results in 5 which is an odd number
4 plus 2 results in 6 which is an even number
4 plus 3 results in 7 which is an odd number
4 plus 4 results in 8 which is an even number

8. Use the list of tuple below, loop over it and print every single tuple.

In [32]:
# tuple list
t_list = [(5,4),(4,7),(8,10)]

# loop
for t in t_list:
    print(t)

(5, 4)
(4, 7)
(8, 10)

9. Loop over the list below and print the sum of the **first + second + third** element of every tuple. **Hint:** Tuple unpacking

In [33]:
# tuple list
new_list = [(1,2,3),(4,5,6),(7,8,9)]

# loop
for a,b,c in new_list:
    print(a+b+c)

6
15
24

10. Loop over the dictionary below and print both key and value

In [38]:
dz = {'key1':88,'key2':23,'key3':72, 'key4':66}

In [39]:
# dict loop
for a, b in dz.items():
    print(a,b)

key1 88
key2 23
key3 72
key4 66

11. Loop the **dz** dictionary and print out only the values.

In [40]:
# loop
for a in dz.values():
    print(a)

88
23
72
66

11. Use the **dz** dictionary and the **t_list**. Loop throug both of them and print out the sum of every value of the dictionary with the first element of the tuple.

In [16]:
dz = {'key1':88,'key2':23,'key3':72, 'key4':66}
t_list = [(5,4),(4,7),(8,10)]

In [44]:
# loop
for el in dz.values():
    for a,b in t_list:
        print(el+a,end=' ')
    print()

93 92 96
28 27 31
77 76 80
71 70 74

# Congratulation! You did a nice work!